* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #000000;
  overflow-y: hidden;
  overflow-x: hidden;
}

.game-container {
  width: 200px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

.score-container {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  border-radius: 10px;
}

.score {
  color: #32cd32; /* Зеленый цвет */
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7); /* Тень */
  margin-right: 10px;
}

.plus-icon {
  font-size: 10px; /* Размер иконки */
  color: #32cd32; /* Зеленый цвет */
  cursor: pointer;
  margin-left: 10px;
}

.circle {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.circle img {
  width: 150px; /* Размер изображения, можно настроить */
  height: auto;
}

.circle img {
  width: 300px;
  height: 50px;
  transition: transform 0.2s ease;
  --tiltX: 0deg;
  --tiltY: 0deg;
  transform: rotateX(var(--tiltX)) rotateY(var(--tiltY));
}

.plus-one {
  position: absolute;
  font-family: Inter;
  text-shadow: 0px 0px 4px rgba(16, 243, 50, 0.401);
  font-size: 24px;
  font-weight: 800;
  background: linear-gradient(180deg, #32cd32 0%, #32cd32 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
  user-select: none;
  animation: move-up 2s forwards;
}
/* === NEW === */
.menu {
  background: #a5e7ff;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 1rem;
  right: 1rem;
  justify-content: space-around;
  height: 60px;
  border-radius: 20px;
  font-size: 1.5rem;
}

.menu-button {
  color: #4e4d52;
  cursor: pointer;
  transition: color 0.3s;
}

.menu-button:hover,
.menu-button.active {
  color: #fff;
  cursor: pointer;
}
/* === /NEW === */

@keyframes move-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.game {
  position: relative;
  padding: 1rem;
}

.page {
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.progress {
  position: relative;
}

.progress-level {
  text-align: center;
  margin-bottom: 0.5rem;
  color: #fff;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
}

.progress-container {
  position: relative;
  width: 100%;
  height: 6px;
  border-radius: 25px;
  margin-bottom: 1rem;
  background: #4b402e;
  overflow: hidden;
}

.progress-value {
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transition: 0.2s width ease;
}

.text-content {
  color: #fff;
}

.text-content h1,
.text-content h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.list {
}

.list-item {
  background: #2a292e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.list-btn {
  background: #fff;
  color: #000;
  border-radius: 20px;
  padding: 0 0.5rem;
  text-decoration: none;
  margin-left: 1rem;
}

.list-btn.done {
  background: #008800;
  color: #fff;
}

.referal {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background: gold;
  border: none;
}

.center {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}

/*energyBar*/
.energy-container {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
  height: 20px;
  background: #4b402e;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  color: #fff;
}

.energy-bar {
  height: 100%;
  background: #32cd32;
  transition: width 0.2s ease;
}

.energy-text {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #fff;
}

.disabled {
  opacity: 0.5; /* Делаем изображение полупрозрачным */
  pointer-events: none; /* Отключаем события мыши */
}

.box-conteiner {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background: #0f0a18;*/
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  flex-direction: column;
  max-width: 450px;
  max-height: 650px;
  width: 450px;
  height: 650px;
  background: #221a30;
}

.box h1 {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.box img {
  width: 256px;
  height: 256px;
  margin: 18% auto;
  display: block;
}

.box button {
  outline: none;
  border: none;
  padding: 18px;
  border-radius: 60px;
  display: block;
  margin: -60px auto;
  width: 275px;
  font-size: 1.5em;
  box-shadow: 0 10px 0 #15fc89;
  transition: all 0.3s;
}

.box button:hover{
  box-shadow: 10px 10px 10px #0f0a18;
  transform: translateY(3px);
}

/* Bubbly Button */

.bubbly-button {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 370px; /* Уберите или отрегулируйте этот отступ по вашему усмотрению */
  background-color: #ff0081;
  color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  position: absolute; /* Меняем на absolute для точного позиционирования */
  top: -5px; /* Задаем отступ сверху */
  left: -564px; /* Задаем отступ слева */
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);

  &:focus {
    outline: 0;
  }

  &:before, &:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
  }

  &:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%;
  }

  &:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%;
  }

  &:active {
    transform: scale(0.9);
    background-color: darken(#ff0081, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }

  &.animate {
    &:before {
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after {
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}

.bubbly-button[disabled] {
  background-color: gray;
  cursor: not-allowed;
}

/* Модальное окно */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-dialog {
  background: rgb(78, 209, 17);
  border-radius: 8px;
  max-width: 500px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(7, 63, 2, 0.992);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eceeef;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.modal-body {
  padding: 10px 0;
}

.close {
  cursor: pointer;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

/* Анимация появления страницы */
.body_hide {
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
}

.body_visible {
  opacity: 1;
}